body{
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
}
canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #4b4b4b;
}
.container-texto{
    color:white;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
    
}